/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}


/* Carrito */
#cart-container {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    overflow: hidden;
}

#cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #f5f2f2;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-item-details {
    flex: 1;
    margin-left: 20px;
}

.cart-item h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
    font-weight: bold;
}

.cart-item p {
    font-size: 1rem;
    color: #777;
    margin: 5px 0;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 15px;
}

.quantity button {
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    color: #333;
    padding: 8px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.quantity button:hover {
    background-color: #d6d6d6;
}


#clear-cart {
    background: linear-gradient(135deg, #ff5a5a, #ff4444);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 1.1rem;
    cursor: pointer;
    display: block;
    margin: 10px auto 0;
    transition: all 0.3s ease;
    text-align: center;
    width: 100%;
}

#clear-cart:hover {
    background: linear-gradient(135deg, #ff4444, #ff5a5a);
}

#total-price {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
}

#checkout-button {
    background: linear-gradient(135deg, #57b846, #45a036);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 10px auto 0;
    text-align: center;
    transition: all 0.3s ease;
}

#checkout-button:hover {
    background: linear-gradient(135deg, #45a036, #57b846);
}

/* Mensaje de carrito vacío */
#empty-cart-message {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
    margin: 20px 0;
}

/* Responsivo */
@media (max-width: 768px) {
    .cart-item {
        flex-direction: column;
        text-align: center;
    }

    .cart-item-details {
        margin-left: 0;
        margin-top: 15px;
    }

    .quantity {
        justify-content: center;
    }
}
